.navbar {
  position: fixed;
  box-shadow: 0 2px 5px rgba(44, 44, 44, 0.784);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Navbar */
.navbar {
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(36, 36, 36, 0.803);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-logo a {
  color: #bdbdbd;
  margin: 0 0px;
}

/* Menu */
.menu a {
  margin: 0 1px;
  color: #bdbdbd;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffffff;
  background-color: #2f3640;
}


/* Content */
/* .content {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  color: #fff;
} */

/* .content h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
} */

a {
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}